
.title_partner{
    color: var(--color-titile);
    font-family: var(--Montserrat_700);
    font-size: 2.1rem;
    padding-bottom: 2rem;
}
.list_partner{
    list-style: none;
}
.icon_tv{
    background-color: var(--red);
    background-image: url(../../../module-08/img/icon1.png);
    top: 45%;
}
.icon_chemistry{
    background-color: var(--orandge);
    background-image: url(../../../module-08/img/icon2.png);
    top: 59%;
}
.icon_coffee{
    background-color: var(--blue_1);
    background-image: url(../../../module-08/img/icon3.png);
    top: 73%;
}
.icon_telegram{
    background-color: var(--blue_2);
    background-image: url(../../../module-08/img/icon4.png);
    top: 87%;
}
.name{
    padding-top: 2rem;
    font-family: var(--Montserrat_700);
    color: var(--color-titile);
    font-size: 1.2rem;
}
.bio{
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    font-family: var(--Roboto_300);
    color: var(--color-descr);
    font-size: 1.2rem;
    width: 20.6rem;
    margin: 0 auto
}
.empty_button{
    border: 2px solid var(--red);
    background:none;
    color: var(--red);
}

@media screen and (min-width: 768px)and (max-width: 1024px){
.partner_section{
    padding-top: 4rem;
}
.title_partner{
    padding-bottom: 3rem;
}
.list_partner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item_partner{
    width: 35%;
}
.collaborator_2{
    order: 1;
}
.collaborator_4{
    order: 4;
}
.icon_tv{
    left: 38%;
    top: 63%;
}
.icon_chemistry{
    left: 38%;
    top: 82%;
}
.icon_coffee{
    top: 63%;
    left: 73%;
}
.icon_telegram{
    top: 82%;
    left: 73%;
}
}
@media screen and (min-width: 1024px) and (max-width:1400px){
    .item_partner{
        max-width: 25%;
    }
    .icons{
    top: 77%;
    }
    .icon_tv{
        left: 17%;
        }
    .icon_chemistry{
        left: 67%;
        }
    .icon_coffee{
        left: 42%;
    }
    .icon_telegram{
        left: 92%;
    }
    .list_partner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
 }
 
 @media screen and (min-width: 1400px){
     .partner_section{
         padding-bottom: 7rem;
     }
     .item_partner{
        width: 18%;
    }
    .icons{
        top: 86%;
            }
        .icon_tv{
            left: 26%;
                    }
        .icon_chemistry{
            left: 44%;  
                }
        .icon_coffee{
            left: 62%;
        }
        .icon_telegram{
            left: 80%;
                }
        .list_partner{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }
 }
 