.description {
  text-align: center;
  padding-bottom: 90px;
  padding-top: 40px;
  font-family: var(--robotoFont);
  color: #999999;
}
.team_section {
  position: relative;
}
.text {
  padding-top: 0px;
  font-family: var(--cursiveFont);
}
.wrap_team {
  display: flex;
  justify-content: space-around;
}
.team_card {
  flex: 0 0 380px;
  position: relative;
}
.gradient {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 380px;
  height: 470px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  transition: transform 0.2s linear, opacity 0.2s linear;
}
.team_card:hover .gradient {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 rgba(149, 225, 211, 1);
  opacity: 1;
}
.team_img {
  transition: transform 0.2s linear;
}
.team_card:hover .team_img {
  transform: translate(-10px, -10px);
}
.team_card:hover .gradient {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 rgba(149, 225, 211, 1);
  opacity: 1;
}
.list_icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  width: 224px;
  list-style: none;
}
.icon {
  display: block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
  transition: background-color 0.3s linear;
}
.facebook {
  background-image: url(../img/facebook.png);
}
.twitter {
  background-image: url(../img/twitter.png);
}
.pinterest {
  background-image: url(../img/pinterest.png);
}
.instagram {
  background-image: url(../img/instagram.png);
}

.facebook:hover {
  background-color: #95e1d3;
}
.twitter:hover {
  background-color: #95e1d3;
}
.pinterest:hover {
  background-color: #95e1d3;
}
.instagram:hover {
  background-color: #95e1d3;
}

.wrapper_name_position {
  display: flex;
  justify-content: space-around;
}
.name {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: var(--robotoFont);
  font-weight: 100;
  font-size: 14px;
}
.position {
  margin-top: 15px;
  font-family: var(--robotoFont);
  font-size: 15px;
  color: var(--colorText);
  font-style: italic;
}

.team_section::after {
  content: "";
  border-top: 1px solid var(--colorText);
  width: 1200px;
  display: block;
  margin-top: 85px;
}
::-webkit-input-placeholder {
  color: var(--color-placeholder);
}
::-moz-placeholder {
  color: var(--color-placeholder);
} /* Firefox 19+ */
:-moz-placeholder {
  color: var(--color-placeholder);
} /* Firefox 18- */
:-ms-input-placeholder {
  color: var(--color-placeholder);
}

.text_button {
  font-family: var(--robotoItalic);
  font-style: italic;
}
